.chat {
    display: flex;
    flex-direction: column;
    height: 95vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    align-items: space-between;
}

.chats {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.input_box {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

textarea {
    flex: 1;
    resize: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

textarea:focus, button:focus {
    outline: none;
}

button:hover {
    background-color: #0056b3;
}
